@model IEnumerable<tpvoiture.Models.Marque>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.libelle)
            </th>
            <th>
                matricule
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.libelle)
            </td>
            <td>
                <ul>
                    @foreach(var voiture in item.voitures)
                {
                    <li>
                        <a asp-controller="Voitures" asp-action="Edit" asp-route-id="@voiture.id">@voiture.matricule</a>
                    </li>
                }
                </ul>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
