@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @RenderSection("title", false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CreationdesModel.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>
<body>

    @if (HttpContextAccessor.HttpContext.Session.GetString("username") != null)
    {

        <header>
            

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand">LocationCars</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
                                    Voiture
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Voiture" asp-action="Index">Liste des voitures</a>
                                    <a class="dropdown-item" asp-controller="Voiture" asp-action="Add">Ajouter une voiture</a>

                                </div>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
                                    Marque
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Marque" asp-action="Index">Liste des marque</a>
                                    <a class="dropdown-item" asp-controller="Marque" asp-action="Add">Ajouter une marque</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
                                    Client
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Client" asp-action="Index">Liste des clients</a>
                                    <a class="dropdown-item" asp-controller="Client" asp-action="Add">Ajouter un client</a>

                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Location" asp-action="Index">Location</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Assurance" asp-action="Index">Assurance</a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
                                    @HttpContextAccessor.HttpContext.Session.GetString("username")
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Sign" asp-action="Update" asp-route-id=" @HttpContextAccessor.HttpContext.Session.GetInt32("userId")">Modifier vos infos</a>
                                    <a class="dropdown-item" asp-controller="Sign" asp-action="Details" asp-route-id=" @HttpContextAccessor.HttpContext.Session.GetInt32("userId")">voir vos infos</a>
                                    <a class="dropdown-item" asp-controller="SeDeconnecter" asp-action="Index">Se Deconnecter</a>

                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand">LocationCars</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Sign" asp-action="Add">S'inscrire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Authentification" asp-action="Login">Se connecter</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CreationdesModel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

  
</body>
</html>
