@model tpvoiture.Models.Assurance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_debut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_debut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.voiture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.voiture.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
