@model IEnumerable<tpvoiture.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date_debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.retour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prixjour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.retour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixjour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voiture.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
